    .content{
        margin: auto;
        max-width: 500px;
        margin-top: 50px;
    
    }

    h2{
        text-align: center;
    }

    label {
        display: inline-block;
        width: 150px;
        text-align: right;
    }

    input {
         width: 250px;
         height: 25px;
    }

    select{
        width: 250px;
        height: 25px;
    }

    button{
        display:block;
        margin: 0 auto;
        width: 100px;
        height: 30px;
        background-color: green;
        color: white;
        border: 0px;
    }




